<h2>Standings</h2>
<hr/>
<% @teams.each.with_index(1) do |team, rank| %>
  <table>
    <tr>
      <td><%= rank.ordinalize %></td>
      <td><%= team.name %></td>
      <td><%= team.points %> <%= "Point".pluralize(team.points) %></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <% team.castaways.each do |castaway| %>
          <div>
            <%= image_tag castaway.headshot_url, class: "rounded-circle" %>
            <small><%= castaway.full_name %></small>
          </div>
        <% end %>
      </td>
      <td></td>
    </tr>
  </table>
<% end %>
