<div class="row mt-2">
  <div class="col">
    <h2>Standings</h2>
  </div>
  <div class="col">
    <%= link_to "#{Emoji[:bar_chart]} Scoring Breakdown".html_safe, scoring_breakdown_path, class: "float-right" %>
  </div>
</div>
<hr/>
<% @ranked_teams.each do |team| %>
  <div class="container">
    <div class="row">
      <div class="col-1">
        <h2><%= team.rank.ordinalize %></h2>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col">
            <h4><%= team.name %></h4>
          </div>
        </div>
        <div class="row">
          <% order_castaways_for_standings(team.castaways).each do |castaway| %>
            <div class="col d-flex" style="flex-direction: column; align-items: center">
              <%= image_tag(
                castaway.headshot_path,
                class: "#{"grey-headshot" if castaway.voted_out?} rounded-circle d-flex",
                width: "100px",
                height: "100px"
              ) %>
              <small class="d-flex"><%= castaway.full_name %></small>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-2">
        <h4><%= team.score %> <small class="text-muted"><%= "Pt".pluralize(team.score) %></small></h4>
      </div>
    </div>
  </div>
  <hr/>
<% end %>

