<div class="mt-2">
  <h2>Standings</h2>
</div>

<hr />

<% @ranked_teams.each do |team| %>
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h4 class="d-inline"><%= team.name %></h4>
        <small>(<%= team.owner_name %>)</small>
      </div>
      <div class="col-2 text-right">
        <h4 style="white-space: nowrap">
          <%= team.score %>
          <small class="text-muted" style="font-size: 14px"><%= "Pt".pluralize(team.score) %></small>
        </h4>
      </div>
    </div>
    <div class="row mt-2">
      <% order_castaways_for_standings(team.castaways).each do |castaway| %>
        <div class="col d-flex" style="flex-direction: column; align-items: center">
          <%= image_tag(
            castaway.headshot_path,
            class: "#{"grey-headshot" if castaway.voted_out?} rounded-circle d-flex img-fluid mb-1",
            width: "100x",
            height: "100x"
          ) %>
          <small class="d-none d-sm-inline" style="white-space: nowrap"><%= "#{castaway.first_name} #{castaway.last_name[0]}." %></small>
          <%= castaway.points %>
        </div>
      <% end %>
    </div>
  </div>
  <hr/>
<% end %>

