<div class="row mt-2">
  <div class="col">
    <h2>Scoring Breakdown</h2>
  </div>
  <div class="col">
    <%= link_to "#{Emoji[:trophy]} Standings".html_safe, standings_path, class: "float-right" %>
  </div>
</div>
<hr/>
<% @episodes.each do |episode| %>
  <h3>
    <%= "#{episode.number}" %>
    <small class="text-muted"><%= "#{episode.title}" %></small>
  </h3>
  <table class="table table-sm table-responsive">
    <tr>
      <td></td>
      <% @castaways.each do |castaway| %>
        <td style="text-align: center; width: 5%">
          <%= image_tag(
            castaway.headshot_path,
            class: "#{"grey-headshot" if castaway.voted_out?} rounded-circle",
            width: "50px",
            height: "50px"
          ) %>
          <%= castaway.first_name %>
        </td>
      <% end %>
    </tr>
    <% @scoring_criteria.each do |scoring_criterion| %>
      <tr>
        <td>
          <%= scoring_criterion.name %>
        </td>
        <% @castaways.each do |castaway| %>
          <td style="text-align: center">
            <%= @scoring_events.detect do |scoring_event|
              scoring_event.castaway == castaway &&
                scoring_event.scoring_criterion == scoring_criterion &&
                scoring_event.episode == episode
            end.try(:points) || "-" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>


