<h2>Scoring Breakdown</h2>
<hr/>
<% @episodes.each do |episode| %>
  <h3>
    <%= "#{episode.number}" %>
    <small class="text-muted"><%= "#{episode.title}" %></small>
  </h3>
  <table class="table table-sm table-responsive">
    <tr>
      <td></td>
      <% @castaways.each do |castaway| %>
        <td>
          <%= castaway.full_name %>
        </td>
      <% end %>
    </tr>
    <% @scoring_criteria.each do |scoring_criterion| %>
      <tr>
        <td>
          <%= scoring_criterion.name %>
        </td>
        <% @castaways.each do |castaway| %>
          <td>
            <%= @scoring_events.detect do |scoring_event|
              scoring_event.castaway == castaway &&
                scoring_event.scoring_criterion == scoring_criterion &&
                scoring_event.episode == episode
            end.try(:points) || "-" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>


