<!DOCTYPE html>
<html>
  <head>
    <title>Survivor Fantasy League 39</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "bootstrap/dist/css/bootstrap.css" %>
  </head>

  <body style="background-color: floralwhite">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(242,187,58);">
      <%= link_to "SFL 39", "/", class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item <%= "active" if current_page?(standings_path) %>">
            <%= link_to "Standings", standings_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= "active" if params[:controller] == "episodes" %>">
            <%= link_to "Scores by Episode", episodes_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= "active" if current_page?(scoring_criteria_path) %>">
            <%= link_to "Scoring System", scoring_criteria_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
      <% if user_signed_in? %>
        <%= link_to "Admin", admin_root_path, class: "navbar-text float-right" %>
      <% end %>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <%= javascript_include_tag "jquery/dist/jquery.js" %>
    <%= javascript_include_tag "popper.js/dist/umd/popper.js" %>
    <%= javascript_include_tag "bootstrap/dist/js/bootstrap.js" %>

    <%= yield :page_specific_js %>
  </body>
</html>
